.hidden {
	display: none !important;
}
.w-16{
    width: 16px !important;
}
.w-100-p{
    width: 100%;
}
.w-30-px{
    width: 30px !important;
}
.py-20px{
	padding-right:20px;
	padding-left:20px;
}
.lh-35px{
	line-height: 35px;
}
.b-btm-dot{
	border-bottom: 1px solid #f2f4f9;
}
.pull-right{
	float:right;
}
.display-ib{
    display: inline-block;
}
.bg_33cc33{
	background-color:rgba(51, 204, 51, 0.4) !important;
	
}
.bg_ff3300{
	background-color:rgba(255, 51, 0, 0.4) !important;
}
.bg_ffa500{
	background-color:rgba(255, 165, 0, 0.4) !important;
}
.bg_ffff00{
	background-color:rgba(255, 255, 0, 0.4) !important;
}
.bg_f4a460{
	background-color:rgba(244, 164, 96, 0.4) !important;
}
.bg_ffffff{
	background-color:#ffffff !important;
}
.bg_e6ffb3{
	background-color:#e6ffb3 !important;
}
.bg_ffe6cc{
	background-color:#ffe6cc !important;
}
.bg_eeffcc{
	background-color:#eeffcc !important;
}
.bg_802000{
	background-color:rgba(128, 32, 0, 0.4) !important;
}
.bg_ff0000{
	background-color:rgba(255, 0, 0, 0.4) !important;
}

